@{
	Layout = "_Layout";
}


<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" asp-action="GetVendors">Vendors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="GetMotherboards">Motherboards</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="GetProcessors">Processors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="GetDisks">Disks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="GetMemory">Memory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="GetGraphicsCards">Graphics Cards</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="GetPowerSupplies">Power Supplies</a>
    </li>
</ul>

<div>
    @RenderBody()
</div>