@{
	Layout = "_Layout";
}


<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" asp-action="GetVendors">Vendors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="GetMotherboards">Motherboards</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="GetProcessors">Processors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
</ul>

<div>
    @RenderBody()
</div>