@using MyPcConfigurator.ViewModel;
@model AddOrUpdateDiskViewModel;
@{
    Layout = "_AdminPanelLayout";
}

<p>Add or Update Disk</p>
<form asp-controller="AdminPanel" asp-action="AddOrUpdateDisk" method="post">
    <input type="hidden" asp-for="Disk.Id" />
    <div class="mb-3">
        <label for="InputModelName" class="form-label">Model Name</label>
        <input type="text" class="form-control" id="InputModelName" asp-for="Disk.ModelName">
    </div>
    <div class="mb-3">
        <label for="InputVendor" class="form-label">Vendor</label>
        <select asp-for="SelectedVendor" asp-items="Model.VendorsToSelectList" id="InputVendor"></select>
    </div>
    <div class="mb-3 form-check">
        <label for="InputPowerConsumption" class="form-label">Power consumption</label>
        <input type="number" class="form-control" id="InputPowerConsumption" asp-for="Disk.PowerConsumption">
    </div>
    <div class="mb-3 form-check">
        <label for="InputPrice" class="form-label">Price</label>
        <input type="number" class="form-control" id="InputPrice" asp-for="Disk.Price">
    </div>
    <div class="mb-3 form-check">
        <label for="InputCapacity" class="form-label">Capacity</label>
        <input type="number" class="form-control" id="InputCapacity" asp-for="Disk.Capacity">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>